In [1]:
import numpy as np
import pandas as pd

In [12]:
jeodata = pd.read_csv('JEOPARDY_CSV.csv')

In [14]:
jeodata.head(5)

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [54]:

# jeodata.columns
data = jeodata.groupby([' Category']).count()
data.sort_values(by=['Show Number'], ascending = False).index[:12]
category= ['BEFORE & AFTER', 'SCIENCE', 'LITERATURE', 'AMERICAN HISTORY',
       'POTPOURRI', 'WORLD HISTORY', 'WORD ORIGINS', 'COLLEGES & UNIVERSITIES',
       'HISTORY', 'SPORTS', 'U.S. CITIES', 'WORLD GEOGRAPHY']

In [57]:
def hasCategory(x):
    if x in category:
        return 1
    else:
        return 0
jeodata['flag'] = jeodata[' Category'].apply(hasCategory)

In [58]:
new_jeodata = jeodata[jeodata['flag']==1]

In [60]:
new_jeodata[' Category'].unique()

array(['HISTORY', 'SCIENCE', 'WORD ORIGINS', 'WORLD GEOGRAPHY',
       'AMERICAN HISTORY', 'POTPOURRI', 'COLLEGES & UNIVERSITIES',
       'SPORTS', 'LITERATURE', 'BEFORE & AFTER', 'WORLD HISTORY',
       'U.S. CITIES'], dtype=object)

In [61]:
new_jeodata.shape

(4848, 8)

In [64]:
from nltk.corpus import stopwords
import re
stop_words = stopwords.words("english")
def text_converter(text):
    text = re.sub('[^a-z/s]',' ', text.lower())
    text = [w for w in text.split() if w not in set(stop_words)]
    return text

In [7]:
jeodata["id"]=range(1,len(jeodata)+1)
jeodata.columns = ['Show Number', 'Air Date', 'Round', 'Category', 'Value',
       'Question', 'Answer', "id"]
jeodata['Round'].head(5)

0    Jeopardy!
1    Jeopardy!
2    Jeopardy!
3    Jeopardy!
4    Jeopardy!
Name: Round, dtype: object

In [71]:
new_jeodata[' Question'] = new_jeodata[' Question'].apply(text_converter)

/home/premsagar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [80]:
new_jeodata.head(200)

,Show Number,Air Date,Round,Category,Value,Question,Answer,flag,CategoryColumn
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"[last, years, life, galileo, house, arrest, es...",Copernicus,1,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]"
6,4680,2004-12-31,Jeopardy!,HISTORY,$400,"[built, b, c, link, rome, south, italy, still,...",the Appian Way,1,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]"
12,4680,2004-12-31,Jeopardy!,HISTORY,$600,"[rajaraja, cholas, battled, take, indian, ocea...",Ceylon (or Sri Lanka),1,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]"
18,4680,2004-12-31,Jeopardy!,HISTORY,$800,"[karl, led, first, marxist, organizational, ef...",the International,1,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]"
24,4680,2004-12-31,Jeopardy!,HISTORY,$1000,"[asian, political, party, founded, indian, nat...",the Congress Party,1,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]"
268,4931,2006-02-06,Double Jeopardy!,SCIENCE,$400,"[sea, level, degrees, travels, feet, per, seco...",sound,1,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
274,4931,2006-02-06,Double Jeopardy!,SCIENCE,$800,"[largest, tree, general, sherman, california, ...",a sequoia,1,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
280,4931,2006-02-06,Double Jeopardy!,SCIENCE,$1200,"[href, http, //www, j, archive, com/media/, dj...",strain,1,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
286,4931,2006-02-06,Double Jeopardy!,SCIENCE,$1600,"[elements, known, inert, gases, known, aristoc...",noble gases,1,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
292,4931,2006-02-06,Double Jeopardy!,SCIENCE,$2000,"[href, http, //www, j, archive, com/media/, dj...",the caudal region,1,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
332,5690,2009-05-08,Double Jeopardy!,WORD ORIGINS,$400,"[adjective, meaning, deceptive, sneaky, latin,...",devious,1,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]"
338,5690,2009-05-08,Double Jeopardy!,WORD ORIGINS,$800,"[new, york, island, name, may, come, algonquia...",Manhattan,1,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]"
344,5690,2009-05-08,Double Jeopardy!,WORD ORIGINS,"$4,800","[compass, direction, may, come, proto, germani...",north,1,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]"
350,5690,2009-05-08,Double Jeopardy!,WORD ORIGINS,$1600,"[latin, much, writing, another, name, lie, det...",a polygraph,1,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]"
356,5690,2009-05-08,Double Jeopardy!,WORD ORIGINS,$2000,"[type, ear, implant, help, deaf, greek, snail]",cochlear,1,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]"
392,2825,1996-12-06,Double Jeopardy!,HISTORY,$200,"[historians, refer, golden, age, time, pericle...",Athens,1,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]"
398,2825,1996-12-06,Double Jeopardy!,HISTORY,$400,"[treaty, kiel, country, gave, norway, sweden, ...",Denmark,1,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]"
404,2825,1996-12-06,Double Jeopardy!,HISTORY,$600,"[february, country, attacked, russian, fleet, ...",Japan,1,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]"
410,2825,1996-12-06,Double Jeopardy!,HISTORY,$800,"[may, colonel, ojukwu, declared, biafra, indep...",Nigeria,1,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]"
416,2825,1996-12-06,Double Jeopardy!,HISTORY,$1000,"[midst, korean, war, south, korean, president,...",Syngman Rhee,1,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]"
688,2735,1996-06-21,Double Jeopardy!,WORLD GEOGRAPHY,$200,"[large, aboriginal, populations, live, country...",Australia,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]"
694,2735,1996-06-21,Double Jeopardy!,WORLD GEOGRAPHY,$400,"[administrative, units, country, include, giza...",Egypt,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]"
700,2735,1996-06-21,Double Jeopardy!,WORLD GEOGRAPHY,$600,"[longest, river, iberian, peninsula, also, kno...",the Tagus,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]"
706,2735,1996-06-21,Double Jeopardy!,WORLD GEOGRAPHY,"$1,500","[cabinda, area, former, portuguese, colony, se...",Angola,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]"
712,2735,1996-06-21,Double Jeopardy!,WORLD GEOGRAPHY,$1000,"[indus, river, provides, western, border, dese...",the Thar Desert,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]"
716,2735,1996-06-21,Final Jeopardy!,AMERICAN HISTORY,None,"[may, patrick, henry, stamp, act, protest, int...",Treason!,1,"[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]"
864,4541,2004-05-10,Double Jeopardy!,POTPOURRI,$400,"[think, irving, berlin, song, replace, star, s...","""God Bless America""",1,"[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]"
870,4541,2004-05-10,Double Jeopardy!,POTPOURRI,$800,"[politicians, often, complain, make, appearanc...","the ""rubber chicken"" circuit",1,"[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]"
875,4541,2004-05-10,Double Jeopardy!,POTPOURRI,$1200,"[blue, white, branches, african, river]",the Nile,1,"[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]"
880,4541,2004-05-10,Double Jeopardy!,POTPOURRI,$1600,"[vp, garret, hobart, cast, deciding, vote, ind...",the Philippines,1,"[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]"
...,...,...,...,...,...,...,...,...,...
6384,776,1988-01-11,Double Jeopardy!,HISTORY,$600,"[canada, p, william, lyon, mackenzie, king, li...",Hull House (in Chicago),1,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]"
6390,776,1988-01-11,Double Jeopardy!,HISTORY,$800,"[country, became, constitutional, monarchy, ki...",Morocco,1,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]"
6396,776,1988-01-11,Double Jeopardy!,HISTORY,$1000,"[st, prime, minister, independent, kenya]",Jomo Kenyatta,1,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]"
6434,3010,1997-10-03,Double Jeopardy!,SPORTS,$200,"[new, seat, u, tennis, open, stadium, named, s...",Arthur Ashe,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]"
6440,3010,1997-10-03,Double Jeopardy!,SPORTS,$400,"[except, nhl, scoring, title, gone, either, wa...",Mario Lemieux,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]"
6446,3010,1997-10-03,Double Jeopardy!,SPORTS,$600,"[oct, grantland, rice, wrote, team, backfield,...",Notre Dame,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]"
6452,3010,1997-10-03,Double Jeopardy!,SPORTS,"$1,000","[video, daily, double, hi, mike, piazza, nl, r...",Johnny Bench,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]"
6458,3010,1997-10-03,Double Jeopardy!,SPORTS,$1000,"[earl, anthony, rolled, record, titles, sport,...",Bowling,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]"
6578,3358,1999-03-24,Final Jeopardy!,WORD ORIGINS,None,"[today, meaning, self, employed, person, term,...",Freelancer,1,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]"
6755,4306,2003-04-28,Jeopardy!,SCIENCE,$200,"[electromagnetic, rays, used, take, pictures, ...",X-rays,1,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
6761,4306,2003-04-28,Jeopardy!,SCIENCE,$400,"[german, born, american, physicist, nobel, pri...",Albert Einstein,1,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
6766,4306,2003-04-28,Jeopardy!,SCIENCE,$600,"[combined, oxygen, lightest, chemical, element...",hydrogen,1,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
6771,4306,2003-04-28,Jeopardy!,SCIENCE,$800,"[also, term, someone, warsaw, one, strongest, ...",Pole,1,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
6775,4306,2003-04-28,Jeopardy!,SCIENCE,$1000,"[symbol, radioactive, element, pu, sounds, lik...",plutonium,1,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
7199,3191,1998-06-15,Double Jeopardy!,AMERICAN HISTORY,$200,"[british, commander, sir, edward, pakenham, ki...",Battle of New Orleans,1,"[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]"
7201,3191,1998-06-15,Double Jeopardy!,SPORTS,$200,"[ball, used, sport, inches, long, inches, wide...",Football,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]"
7205,3191,1998-06-15,Double Jeopardy!,AMERICAN HISTORY,$400,"[reach, eastern, markets, texas, drovers, brou...",the Chisholm Trail,1,"[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]"
7207,3191,1998-06-15,Double Jeopardy!,SPORTS,$400,"[sept, heavyweight, boxing, champ, lost, title...",Jack Dempsey,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]"
7211,3191,1998-06-15,Double Jeopardy!,AMERICAN HISTORY,$600,"[november, new, york, world, called, trip, lon...",Nellie Bly,1,"[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]"
7213,3191,1998-06-15,Double Jeopardy!,SPORTS,$600,"[named, u, doubles, champ, cup, presented, win...",Davis Cup,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]"
7217,3191,1998-06-15,Double Jeopardy!,AMERICAN HISTORY,$800,"[mar, largest, alaska, city, hit, earthquake]",Anchorage,1,"[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]"
7219,3191,1998-06-15,Double Jeopardy!,SPORTS,"$3,000","[hi, greg, gumbel, year, career, sparky, ander...",Detroit Tigers,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]"
7223,3191,1998-06-15,Double Jeopardy!,AMERICAN HISTORY,$1000,"[arthur, st, clair, became, first, governor, v...",Northwest Territory,1,"[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]"
7225,3191,1998-06-15,Double Jeopardy!,SPORTS,$1000,"[ron, turcotte, rode, horse, first, triple, cr...",Secretariat,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]"
7231,2515,1995-07-07,Jeopardy!,SPORTS,$100,"[new, york, jets, quarterback, became, first, ...",Joe Namath,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]"
7237,2515,1995-07-07,Jeopardy!,SPORTS,$200,"[founded, world, oldest, annual, marathon]",the Boston Marathon,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]"
7243,2515,1995-07-07,Jeopardy!,SPORTS,$300,"[seasons, salt, palace, nba, team, moved, home...",the Utah Jazz,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]"
7249,2515,1995-07-07,Jeopardy!,SPORTS,$400,"[viktor, petrenko, world, championship, sport]",ice skating (men's figure skating),1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]"
7255,2515,1995-07-07,Jeopardy!,SPORTS,$500,"[career, dodger, pitcher, averaged, strikeouts...",(Sandy) Koufax,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]"
7616,4808,2005-06-29,Double Jeopardy!,LITERATURE,$400,"[tai, pan, novel, hong, kong, james, clavell, ...",Shogun,1,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]"

In [78]:
def category_to_column(x):
    y=[0,0,0,0,0,0,0,0,0,0,0,0]
    y[category.index(x)] = 1
    return y

new_jeodata[' CategoryColumn'] = new_jeodata[' Category'].apply(category_to_column)

/home/premsagar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [79]:
new_jeodata.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer,flag,CategoryColumn
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"[last, years, life, galileo, house, arrest, es...",Copernicus,1,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]"
6,4680,2004-12-31,Jeopardy!,HISTORY,$400,"[built, b, c, link, rome, south, italy, still,...",the Appian Way,1,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]"
12,4680,2004-12-31,Jeopardy!,HISTORY,$600,"[rajaraja, cholas, battled, take, indian, ocea...",Ceylon (or Sri Lanka),1,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]"
18,4680,2004-12-31,Jeopardy!,HISTORY,$800,"[karl, led, first, marxist, organizational, ef...",the International,1,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]"
24,4680,2004-12-31,Jeopardy!,HISTORY,$1000,"[asian, political, party, founded, indian, nat...",the Congress Party,1,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]"

In [81]:
y_train = new_jeodata[' CategoryColumn'].tolist()
x_train = new_jeodata[' Question'].tolist()

In [84]:
from naive_bayes import naive_bayes
x_train = np.array(x_train)
y_train = np.array(y_train)
classifire = naive_bayes()
classifire.initialize(x_train,y_train, category)

classifire.predict(['rajaraja', 'cholas', 'battled', 'take'])

{'BEFORE & AFTER': -25.47276190924667,
 'SCIENCE': -26.660195426354374,
 'LITERATURE': -27.41330911463446,
 'AMERICAN HISTORY': -27.015796203096322,
 'POTPOURRI': -35.22483241802156,
 'WORLD HISTORY': -34.851427116659195,
 'WORD ORIGINS': -25.76915761142143,
 'COLLEGES & UNIVERSITIES': -34.69476533503761,
 'HISTORY': -1.9368826851028187,
 'SPORTS': -26.63000665185738,
 'U.S. CITIES': -25.926519059720224,
 'WORLD GEOGRAPHY': -34.26285692482505}

In [8]:
def combine_all(a):
    return a['Round']+ ' ' + a["Category"]+ ' ' + a["Question"]+ ' ' + a["Answer"]
jeodata["combined"]=jeodata.apply(combine_all)

KeyError: ('Round', 'occurred at index Show Number')

In [9]:
jeodata.head(5)

,Show Number,Air Date,Round,Category,Value,Question,Answer,id
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus,1
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe,2
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona,3
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's,4
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams,5

In [10]:
jeodata=jeodata.reset_index()
jeodata=jeodata.set_index('id')

In [11]:
jeodata['combined']= jeodata["Round"]+ ' '+jeodata["Category"]+ ' '+jeodata["Question"]+ ' '+jeodata["Answer"]

In [ ]:
jeodata.columns

In [ ]:
jeodata=jeodata[['Show Number', ' Air Date', ' Round', ' Category',
       ' Value', ' Question', ' Answer', 'id']]

In [ ]:
jeodata.head(5)

In [5]:
jeodata["Category"].unique()

KeyError: 'Category'

In [ ]:
from nltk.corpus import stopwords
import re
stop_words = stopwords.words("english")

In [ ]:
import nltk

In [ ]:
nltk.download('stopwords')

In [ ]:
def text_converter(text):
    text = re.sub('[^a-z/s]',' ', text.lower())
    text = [w for w in text.split() if w not in set(stop_words)]
    return ' '.join(text)

In [ ]:
jeodata["combined"] = jeodata['combined'].fillna("")
jeodata["combined_processed"]= jeodata["combined"].apply(text_converter)

In [ ]:
jeodata["combined_processed"].head(5)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.stem.snowball import SnowballStemmer

root_stemmer = SnowballStemmer("english")

analyzer = CountVectorizer().build_analyzer()

def rooting(text):
    return (root_stemmer.stem(w) for w in analyzer(text))

count = CountVectorizer(analyzer = rooting)

In [ ]:
count_matrix = count.fit_transform(jeodata["combined_processed"])

In [ ]:
from sklearn.feature_extraction.text import TfidfTransformer

In [ ]:
tfidf_trans = TfidfTransformer()
get_tfidf = tfidf_trans.fit_transform(count_matrix)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
def get_data(query):
    query = text_converter(query)
    query_matrix = count.transform([query])
    query_tfidf = tfidf_trans.transform(query_matrix)
    similarity_score = cosine_similarity(query_tfidf,get_tfidf)
    sorted_index = np.argsort(similarity_score).tolist()
    return jeodata[["Question","Answer"]].iloc[sorted_index[0][-10:]]

In [ ]:
get_data("india")

In [ ]:
from sklearn.externals import joblib
joblib.dump(count,"jeodata_count.pkl")
joblib.dump(tfidf_trans,"jeodata_transformer.pkl")
joblib.dump(get_tfidf,"jeodata_getTfidf.pkl")

In [ ]:
jeodata.to_pickle('jeodata.pkl')

In [6]:
 with open(', 'wb') as f:
            pkl.dump(worddict, f)

SyntaxError: invalid syntax (<ipython-input-6-0cfc7bebc4d8>, line 1)